//Dark

$primary: #0b0c10;
$secondary: #1f2833;
$tertiary: #0b0c10;
$textLarge: #66fcf1;
$text: #66fcf1;
$textHighlight: #86c232;
$primaryHighlight: black;
$textButton: #66fcf1;

//Light

$primary: blue;
$secondary: white;
$tertiary: #f7f8fa;
$textLarge: white;
$text: #000000;
$textHighlight: #ffffff;
$primaryHighlight: Darkblue;
$textButton: white;
